body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}
/* Navigation Style */
.navigation-bar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
}
.nav-left a, .nav-right-left a, .nav-right-right a{
    margin: 0px 5px 0px 15px;
}
.nav-right {
    display: flex;
}
.nav-right-left{
    display: flex;
}
.nav
.nav-right-right {
    display: block;
    float:right;
}
.nav-button{
    text-decoration: none;
}
/* Navigation Style End */