body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
}
/* Navigation Section Start */
.navigation-bar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
}
.nav-left a, .nav-right-left a, .nav-right-right a{
    margin: 0px 5px 0px 15px;
    letter-spacing: 1.5px;
    color: #000;
    font-family: arial, sans-serif;
}
.nav-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.nav-right-left, .nav-right-right{
    display: flex;
    justify-items: center;
}

.nav-right-right svg{
    min-height: 24px;
    min-width: 24px;
}
.google-app-button {
    margin: 8px 8px;
    padding: 8px;
    border-radius: 50px;
}
    
.google-app-button:hover {
    border-radius: 50px;
    background-color:rgb(216, 216, 216);
    align-self: center;
}
.nav-button{
    text-decoration: none;
    align-self: center;
}
.nav-button:hover{
    text-decoration:underline;

}
#sign-in-button {
    padding: 9px 23px;
    margin: 0px 8px;
    background: #1A73E8;
    color:#fff;
    font-weight: 500;
    letter-spacing: .25px;
    border: 1px solid transparent;
    border-radius: 5px;
}
#sign-in-button:hover {
    text-decoration: none;
    background-color: #2b7de9;
    box-shadow: 
    0 1px 2px 0 rgb(66 133 244 / 30%)
    0 1px 3px 1px rgb(66 133 244/ 15%);
}
/* Navigation Style End */

/* Logo Section Start */
.logo-section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    max-height: 290px;
    height: calc(100%-560px);
}
.logo{
    width: auto;
    height: auto;
    align-self: center;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Logo Section End*/

/*Search Bar Start */

.search-section {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 160px;
}
.search-bar-area {
    display: flex;
    flex-direction: column;
    width: 584px;
}
.search-bar {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid lightgrey;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 6px 0px 0px;
    height: 44px;
    width: auto;
}
.search-bar:hover, .search-bar:focus, .search-bar:active {
    box-shadow: 0px 2px 5px 2px rgba(194, 194, 194, 0.651);
    outline: none;
}
.search-icon {
    flex:0 0 auto;
    padding-left: 15px;
    padding-right: 10px;

}
.search-input {
    flex: 100%;
    height: 34px;
    margin-top: -3px;
    width: 50vw;
    max-width: 480px;
    border: none;
    font-size: 18px;
}
.search-input:focus{
    outline: none;
}

.voice-icon {
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 10px;
}
.search-button-area {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
.submit-button{
    padding: 15px 30px;
    margin: 11px 10px;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}
.submit-button:hover {
    box-shadow:
    0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
    background-color: #f8f9fa
}
/* Search Bar End */

/* Footer Start */

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(243, 243, 243);
}

.footer-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    height: 10vh;
}
.footer-left{
    display: flex;
    justify-content: flex-start;
    width: 33%;
}
.footer-left a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding-right: 30px;
    align-items: center;
    white-space: nowrap;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    width: 33%;
}
.footer-right a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
/* Footer End */

}